name: Build and Push Docker Images

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  REGISTRY_URL: ${{ format('ghcr.io/{0}', github.repository) }}

permissions:
  contents: read
  packages: write

jobs:
  build-base:
    uses: ./.github/workflows/reusable-build.yml
    strategy:
      fail-fast: false
      matrix:
        name:
          - "bullseye"
          - "bookworm"
          - "trixie"
    with:
      name: ${{ matrix.name }}
      build-base: true
      build-arm64: true
    secrets: inherit

  build-imgs:
    needs: build-base
    uses: ./.github/workflows/reusable-build.yml
    strategy:
      fail-fast: false
      matrix:
        name:
          - bookworm
          - bookworm-mpich
          - bullseye
          - bullseye-openblas
          - trixie
          - tumbleweed
        clean-runner:
          - false
        build-arm64:
          - true
        include:
          - name: archlinux
            clean-runner: false
            build-arm64: false
          - name: bookworm-intel
            clean-runner: false
            build-arm64: false
          - name: bookworm-intel-2024.2
            clean-runner: false
            build-arm64: false
          - name: bullseye-intel
            clean-runner: false
            build-arm64: false
          - name: archlinux
            clean-runner: false
            build-arm64: false
          - name:  bookworm-pgi-24-09
            clean-runner: true
            build-arm64: true
          - name:  bullseye-pgi-21-03
            clean-runner: true
            build-arm64: true
          - name:  nvidia-51.1
            clean-runner: true
            build-arm64: true
          - name: jupyter
            clean-runner: false
            build-pyalf-full: true
            build-pyalf-doc: true
            build-arm64: true
    with:
      name: ${{ matrix.name }}
      clean-runner: ${{ matrix.clean-runner }}
      build-alf-requirements: true
      build-pyalf-requirements: true
      build-pyalf-full: ${{ matrix.build-pyalf-full || false }}
      build-pyalf-doc: ${{ matrix.build-pyalf-doc || false }}
      build-arm64: ${{ matrix.build-arm64 }}
    secrets: inherit
