name: Build and Push Docker Images

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  REGISTRY_URL: ${{ format('ghcr.io/{0}', github.repository) }}

permissions:
  contents: read
  packages: write

jobs:
  build-base:
    uses: ./.github/workflows/reusable-build.yml
    with:
      distribution: "base"
      build_dirs: "./01-base-imgs/bullseye,./01-base-imgs/bookworm,./01-base-imgs/trixie"
    secrets: inherit

  build-layers:
    needs: build-base
    strategy:
      fail-fast: false
      matrix:
        include:
          - distribution: "bookworm"
            BUILD_DIRS: "./02-alf-requirements/bookworm,./02-alf-requirements/bookworm-mpich,./03-pyalf-requirements/bookworm"
          - distribution: "bookworm"
            BUILD_DIRS: "./02-alf-requirements/bookworm-intel,./03-pyalf-requirements/bookworm-intel"
          - distribution: "bookworm"
            BUILD_DIRS: "./02-alf-requirements/bookworm-intel-2024.2,./03-pyalf-requirements/bookworm-intel-2024.2"
          # - distribution: "bookworm"
          #   BUILD_DIRS: "./02-alf-requirements/bookworm-pgi-24-09,./03-pyalf-requirements/bookworm-pgi-24-09"

          - distribution: "bullseye"
            BUILD_DIRS: "./02-alf-requirements/bullseye,./02-alf-requirements/bullseye-openblas,./03-pyalf-requirements/bullseye"
          - distribution: "bullseye"
            BUILD_DIRS: "./02-alf-requirements/bullseye-intel,./03-pyalf-requirements/bullseye-intel"
          # - distribution: "bullseye"
          #   BUILD_DIRS: "./02-alf-requirements/bullseye-pgi-21-03,./03-pyalf-requirements/bullseye-pgi-21-03"

          - distribution: "trixie"
            BUILD_DIRS: "./02-alf-requirements/trixie,./03-pyalf-requirements/trixie"

          - distribution: "archlinux"
            BUILD_DIRS: "./02-alf-requirements/archlinux,./03-pyalf-requirements/archlinux"

          - distribution: "tumbleweed"
            BUILD_DIRS: "./02-alf-requirements/tumbleweed,./03-pyalf-requirements/tumbleweed"

          - distribution: "jupyter"
            BUILD_DIRS: "./03-pyalf-requirements/jupyter,./04-pyalf-full/jupyter,./05-pyalf-doc/jupyter"

          # NVIDIA-based images are currently disabled due to build issues.
          # - distribution: nvidia-51.1
          #   BUILD_DIRS: "./02-alf-requirements/nvidia-51.1,./03-pyalf-requirements/nvidia-51.1"
    uses: ./.github/workflows/reusable-build.yml
    with:
      distribution: ${{ matrix.distribution }}
      build_dirs: ${{ matrix.BUILD_DIRS }}
    secrets: inherit
