name: Build and Push Docker Images

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  REGISTRY_URL: ${{ format('ghcr.io/{0}', github.repository) }}

jobs:
  build:
    name: Build ${{ matrix.BUILD_DIRS }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        BUILD_DIRS: 
          - "./01-base-imgs/bookworm,./02-alf-requirements/bookworm,./02-alf-requirements/bookworm-intel,./02-alf-requirements/bookworm-intel-2024.2,./02-alf-requirements/bookworm-mpich,./02-alf-requirements/bookworm-pgi-24-09,./03-pyalf-requirements/bookworm,./03-pyalf-requirements/bookworm-intel,./03-pyalf-requirements/bookworm-intel-2024.2,./03-pyalf-requirements/bookworm-pgi-24-09"
          - "./01-base-imgs/bullseye,./02-alf-requirements/bullseye,./02-alf-requirements/bullseye-intel,./02-alf-requirements/bullseye-openblas,./02-alf-requirements/bullseye-pgi-21-03,./03-pyalf-requirements/bullseye,./03-pyalf-requirements/bullseye-intel,./03-pyalf-requirements/bullseye-pgi-21-03"
          - "./01-base-imgs/trixie,./02-alf-requirements/trixie,./03-pyalf-requirements/trixie"
          - "./02-alf-requirements/archlinux,./03-pyalf-requirements/archlinux"
          - "./02-alf-requirements/tumbleweed,./03-pyalf-requirements/tumbleweed"
          - "./03-pyalf-requirements/jupyter,./04-pyalf-full/jupyter,./05-pyalf-doc/jupyter"
          - "./02-alf-requirements/nvidia-51.1,./03-pyalf-requirements/nvidia-51.1"
        # [archlinux, bookworm, bullseye, jupyter, trixie, tumbleweed]
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        if: ${{ github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      # - name: Login to Docker Hub
      #   if: ${{ matrix.distribution == 'jupyter' && (github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main') }}
      #   uses: docker/login-action@v3
      #   with:
      #     registry: docker.io
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Make build script executable
        run: chmod +x build.sh

      - name: Build and push images
        env:
          REGISTRY_URL: ${{ env.REGISTRY_URL }}
          BUILD_DIRS: ${{ matrix.BUILD_DIRS }}
          PUSH_IMAGES: ${{ (github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main') && '1' || '0' }}
          PUSH_DOCKERHUB: ${{ (github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main') && '1' || '0' }}
        run: ./build.sh
