name: Build and Push Docker Images

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  REGISTRY_URL: ${{ format('ghcr.io/{0}', github.repository) }}

permissions:
  contents: read
  packages: write

jobs:
  build-base:
    uses: ./.github/workflows/reusable-build.yml
    strategy:
      fail-fast: false
      matrix:
        name:
          - "base-imgs/bullseye"
          - "base-imgs/bookworm"
          - "base-imgs/trixie"
    with:
      build_dir: 01-${{ matrix.name }}
      name: ${{ matrix.name }}
    secrets: inherit

  build-alf-requirements:
    needs: build-base
    uses: ./.github/workflows/reusable-build.yml
    strategy:
      fail-fast: false
      matrix:
        name:
          - alf-requirements/archlinux
          - alf-requirements/bookworm
          - alf-requirements/bookworm-intel
          - alf-requirements/bookworm-intel-2024.2
          - alf-requirements/bookworm-mpich
          - alf-requirements/bookworm-pgi-24-09
          - alf-requirements/bullseye
          - alf-requirements/bullseye-intel
          - alf-requirements/bullseye-openblas
          - alf-requirements/bullseye-pgi-21-03
          - alf-requirements/nvidia-51.1
          - alf-requirements/trixie
          - alf-requirements/tumbleweed
    with:
      build_dir: 02-${{ matrix.name }}
      name: ${{ matrix.name }}
    secrets: inherit

  build-pyalf-requirements:
    needs: build-alf-requirements
    uses: ./.github/workflows/reusable-build.yml
    strategy:
      fail-fast: false
      matrix:
        name:
          - pyalf-requirements/archlinux
          - pyalf-requirements/bookworm
          - pyalf-requirements/bookworm-intel
          - pyalf-requirements/bookworm-intel-2024.2
          - pyalf-requirements/bookworm-pgi-24-09
          - pyalf-requirements/bullseye
          - pyalf-requirements/bullseye-intel
          - pyalf-requirements/bullseye-pgi-21-03
          - pyalf-requirements/jupyter
          - pyalf-requirements/nvidia-51.1
          - pyalf-requirements/trixie
          - pyalf-requirements/tumbleweed
    with:
      build_dir: 03-${{ matrix.name }}
      name: ${{ matrix.name }}
    secrets: inherit

  build-pyalf-full:
    needs: build-pyalf-requirements
    uses: ./.github/workflows/reusable-build.yml
    strategy:
      fail-fast: false
      matrix:
        name:
          - pyalf-full/jupyter
    with:
      build_dir: 04-${{ matrix.name }}
      name: ${{ matrix.name }}
    secrets: inherit

  build-pyalf-doc:
    needs: build-pyalf-full
    uses: ./.github/workflows/reusable-build.yml
    strategy:
      fail-fast: false
      matrix:
        name:
          - pyalf-doc/jupyter
    with:
      build_dir: 05-${{ matrix.name }}
      name: ${{ matrix.name }}
    secrets: inherit
